<!DOCTYPE html>

<head>
    <title>Home | ASCII Web Application</title>
</head>
</style>

<body style="background-color: lavender;" algn="center">
    <h1 align="center"> Welcome to ASCII Web Application</h1>

    <div style="width: 46%; float: left; background-color: rgb(110, 145, 115); padding: 2%; height: 200px;">
        <h3 align="center">Select Banner</h3><br>
        <form action="/" method="POST">
            <div style="padding-left: 25%;">
                <input type="radio" id="standard" name="banner_file" value="standard" checked>
                <label for="standard">Standard</label><br>
                <input type="radio" id="thinkertoy" name="banner_file" value="thinkertoy">
                <label for="thinkertoy">Thinkertoy</label><br>
                <input type="radio" id="shadow" name="banner_file" value="shadow">
                <label for="shadow">Shadow</label>
            </div>
    </div>
    <div style="width: 46%; background-color: rgb(143, 185, 188); padding: 2%; float: right; height: 200px;">
        <h3 align="center">Enter Text To Render ASCII-Art</h3><br>
        <textarea type="text" name="inputText" id="inputtext" style="width: 80%; height: 40px;"></textarea><br>
        {{if .Error}}
        <span style="color: darkred;">{{ .Error }}</span>
        {{end}}
        <br>
        <div style="padding-left: 20%;">
            <input type="submit" value="Generate"><br>
        </div>
        </form>
    </div>
</body>

</html>